# File: docs/requirements.txt

# cait (for reading version), and docs build dependencies (for building docs)
# Those package versions are fixed so that automatic docs generation on 
# readthedocs does not break. It should be checked from time to time whether
# one can upgrade them (and also the Python version in .readthedocs.yaml)
-e .[docs]

